html, body {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;
}

#topBar {
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;   
    border-bottom: 2px solid black;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 16px;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#topBar.hidden {
    opacity: 0; 
}

#topBar p {
    margin: 0;
}

#topBar:link {
    color: black;
    text-decoration: none;
}

#mainContainer {
    background-color: white;
    margin-top: 10vh;
    height: calc(100vh - 10vh);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    z-index: 0;
    position: relative; /* Ensure the overlay text is positioned relative to this container */
}

#mainContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlayText {
    visibility: visible;
    position:fixed;
    height: 100vh;
    width: 100vw;
    /* margin-top:90vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-50%); */
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.overlayText.hidden {
    opacity: 0;
}

.overlayText p {
    font-size: 9vw;
}

/* responsive */
@media (max-width: 768px) {
    .overlayText p {
        font-size: 10vw;
    }
}

@media (max-width: 480px) {
    .overlayText p {
        font-size: 9vw; 
    }
}

#secondContainer {
    height: 100vh;
    height: 100%;
    border: 1px solid black;
    display: flex;
}

.leftContainer {
    width: 50vw;
    height: 100%;
    background-color: white;
}

.rightContainer {
    width: 50vw;
    height: 100%;
    border-left: 1px solid black;
}

#secondContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#thirdContainer {
    width: auto;
    height: 80vh;
    display: flex;
    text-align: center;
}

.centeredTitle {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    text-align: center;
}

#shopLeftContainer {
    padding-top: 10vh;
    border-top: 1px solid black;
    border-right:1px solid black;
    width: 50vw;
    height: 100%;
}

#shopRightContainer {
    padding-top: 10vh;
    border-top: 1px solid black;
    width: 50vw;
    height: 100%;
}

#taskBar {
    margin-top:10vh;
    width: 100vw;
    height: 50vh;
    position: absolute;
    border-top: 1px solid black;
    text-align: center;
}

/* dropdown menu css */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.dropbtn span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: background-color 0.3s;
}

.dropbtn:hover span {
    background-color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}