html, body {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#topBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;   
    border-bottom: 2px solid black;
    background-color: white;
    box-sizing: border-box;
}

#topBar, h1 {
    font-size: 2rem;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
